@import 'base.css';


/*-----------------------------
Article Styling
------------------------------*/
.container {
  position: relative;
  width: 80%;

  margin: 0 auto;
  padding: 40px 0;
}

.img-center-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  margin: 12px auto 0;
  width: 100%;
}

p {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 17px;
}

.heading {
  text-align: center;
  font-size: min(calc(34px + (34 - 24) * ((100vw - 280px) / (1260 - 280))),34px);
  font-weight: 400;
}

.date {
  text-align: center;
  font-size: 16px;
  color: #555;
}

.article-p {
  margin-top: 30px;
}

.img-center-container-small{
  height: 30%;
}

figure{
  margin-top: 10px;
  height: 30%;
}

.article-img-small{
  width: 30%;
  margin: 0 auto 0 calc(40vw - 15%);
}

/*-------------------------------
Media Queries
-------------------------------*/
@media screen and (min-width: 1024px) {
  .container{
    max-width: 1000px;
  }

  .article-img-small{
  margin-left: calc(500px - 15%);
  }
}

@media screen and (max-width: 900px) {
  .article-img-small{
    width: 70%;
    margin-left: calc(40vw - 35%);
  }
}

@media screen and (max-width: 800px){
  figure{
    width: 100%;
  }
}
