@import "base.css";

header {
  min-width: 100%;
  background-color: #303336;
  overflow: hidden;
}

header div {
  display: flex;
  justify-content: space-between;
}

.title {
  height: 50px;
}

.title h1 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 50px;
  letter-spacing: .4px;
  text-transform: uppercase;
}

nav {
  text-align: right;
  height: 50px;
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav ul li {
  display: inline;
  line-height: 50px;
  cursor: default;
}

nav ul li a {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2px;
  text-transform: none;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li + li {
  margin-left: 25px;
}

.mobile-nav {
  overflow: hidden;
}

.mobile-nav p i {
  margin-top: 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.banner {
  height: 540px;
  background: #fff url("macos-mojave-3840x2160-night-dunes-wwdc-2018-4k-18883.jpg") center center / cover no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
}

.banner h2 {
  font-size: 46px;
  font-weight: 300;
  color: #fff;
}

.banner h3 {
  margin-top: 4px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

hr {
  width: 80px;
  margin: 0 auto;
  margin-top: 25px;
  border-top: 3px solid #303336;
}
section {
  padding: 80px 0;
  background-color: #f7f8f9;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  padding: 15px;
}

.col-content {
  position: relative;
  width: 100%;
  padding: 24px 28px 29px 28px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 48px 0 rgba(59, 69, 152, .15);
  display: flex;
  flex-direction: column;
}

.content h3 {
  font-size: 22px;
  color: #303336;
  font-weight: 700;
}

.content p {
  margin-top: 9px;
  font-size: 18px;
  color: #303336;
  font-weight: 500;
}

.button a {
  display: inline-block;
  width: 120px;
  height: 46px;
  margin-top: 34px;
  line-height: 47px;
  background-color: #303336;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 2.5 ease-in-out;
}
 @media screen and (min-width: 320px) {
   nav { display: none; }
   .mobile-nav { display: block; }
 }

@media screen and (min-width: 580px) {
  nav { display: none; }
  .mobile-nav { display: block; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .container, .row-container, .contact-container {
    max-width: 800px;
  }

  nav { display: block; }
  .mobile-nav { display: none; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container, .row-container, .contact-container {
    max-width: 1140px;
  }

  nav { display: block; }
  .mobile-nav { display: none; }

  .col-lg-3 {
    flex: 0 0 25%;
    width: 25%;
  }
}

.topnav .search-container button:hover {
    background: #ccc;
    border-radius: 12px;
}
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
}
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
.form h2{
  font-size: 24px;
  font-weight: 600;
}
iframe{
  margin-top:10px;
}
.form-container{
  border-radius: 10px;
  margin-top: 30px;
  width: calc(50% - 15px);
  background-color: #f7f8f9;
}


.form p{
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
}

input[type="text"]:valid, input[type="email"]:valid{
background: #fff url("checkmark.png") no-repeat 96% center;
background-size: 12px 12px;
}

.left-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

form{
  margin-top: 15px;
  font-size: 0;
}

textarea{
margin-top: 20px;
resize: none;
height: 150px !important;
padding-top: 10px !important;
}

.form-container{
  padding:20px;
}

input, textarea{
  width: 100%;
  height:50px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size:16px;
  font-weight: 400;
  color: #000;
  transition: background-color .25 ease-in-out;
}

form input+input{
  margin-top: 15px;
}

input:focus{
  border: 1px solid #61cafd;
}

input[type="reset"], input[type="submit"]{
  width:110px;
  height:46px;
  text-align:center;
  background-color: #fff;
  border: 1px solid #303336;
  font-weight: 600;
  letter-spacing: .2;
  color:#303336;
  cursor: pointer;
}

input[type="submit"]{
  background-color: #303336;
  color: #fff;
}

input[type="reset"]:hover{
  border-color: #303336;
  color: #303336;
}

input[type="submit"]:hover{
  background-color: #303336;
}

.buttons{
  text-align: left;
  margin-top: 15px;
}

.contact-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.contact-text-container{
  margin: 15px 0;
}

.contact-container{
  padding-left: 15px;
  padding-right: 15px;
}

.mobile-nav {
  overflow: hidden;
  margin-right: 20px;
}

.mobile-nav p i {
  margin-top: 7px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 972px){
  .form-container{
    width: 100%;
  }
}
h1{
  cursor: pointer;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #303336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}